body{
    background-image: url("img/bg6.png");
}
.mycalculator{
    /* background: #000;
    height: 30em;
    margin-top: 4em; */
    background-color: #202020;
    width: 22em;
    height: 37em;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
    
}

.mycalculator-title{
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 2em;
    background-color: #50587C;
    height: 3.5em;
    padding: 0.5em;
    padding-top: 0.7em;
    /* border-radius: 5px; */
}
.screen{
    width: 6.6em;
    height: 1.5em;
    text-align: center;
    font-size: 3em;
    font-family: 'Roboto', sans-serif;
    background: #f7f7f7;
    border: 1px solid transparent;
    color: #1F2041;
    position: absolute;
    left: 0.35em;
    top: 1.5em;
    z-index: 1;
    
}

.container-number{
    padding-top: 3em;
    padding-left: 1em;
    background: #E1E4E7;
    height: 30em;
    /* padding: 1em; */
}

.key{
    width: 20em;
    /* background: #f7f7f7; */
    height: 24.em;
    
   

}

.clear{
    width: 4em;
    height: 4em;
    color: #f7f7f7;
    text-align: center;
    font-size: 1.2em;
    background-color: #D34052;
    border-color: #D34052;
    border: 1px solid transparent;
    font-family: 'Roboto', sans-serif; 
    font-weight: bold;
    /* margin-top: 0em; */
    /* margin-left: 0.2em; */
      
}

.operator{
    width: 4em;
    height: 4em;
    color: #1F2041;
    text-align: center;
    font-size: 1.2em;
    background-color: #949CB5;
    border-color: #949CB5;
    border: 1px solid transparent;
    font-family: 'Roboto', sans-serif;
    
}

.operator-hasil{
    width: 4em;
    height: 4em;
    color: #1F2041;
    text-align: center;
    font-size: 1.2em;
    background-color: #F4D94E;
    border-color: #F4D94E;
    border: 1px solid transparent;
    font-family: 'Roboto', sans-serif;
    
}

.num{
    width: 4em;
    height: 4em;
    color: #1F2041;
    text-align: center;
    font-size: 1.2em;
    /* background-color: #E1E4E7; */
    background-color: #EDEDEF;
    border-color: #EDEDEF;
    border: 1px solid transparent;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

.kosong{
    width: 4em;
    height: 4em;
    color: #E1E4E7;
    text-align: center;
    font-size: 1.2em;
    background-color: #EDEDEF;
    border-color: #EDEDEF;
    border: 1px solid transparent;
    /* font-family: 'Roboto', sans-serif; */
}


.btn-operation:hover{
    color: #E1E4E7;
    text-align: center;
    font-size: 1.2em;
    background-color: #50587C;
    border-color: #50587C;
}
